In [1]:
%pylab inline
import pandas as pd
import os

Populating the interactive namespace from numpy and matplotlib

In [2]:
path = '"../Final/IRI/demos trips external 1_11 may13/"'
files =!cd $path && ls *demo*[0-9]*
files

['ads demo1.csv',
 'ads demo2.csv',
 'ads demo3.csv',
 'ads demo4.csv',
 'ads demo5.csv',
 'ads demo6.CSV',
 'ads demo7.csv',
 'ads demo8.CSV',
 'ads demos10.CSV',
 'ads demos11.CSV',
 'ads demos9.CSV']

In [3]:
#check if headers differ accross files
listheaders = list()
rowcounts = list()
i = 0
print 'Rows:\t\t', 'Filename:\t\t', 'Year:'
for x in files:
    x_quoted = path[:-1]+x+'"'
    i += 1
    header = !head -1 $x_quoted
    rc = !wc -l $x_quoted
    rowcounts.append((int(rc[0].split()[0]), x, i))
    print rc[0].split()[0], '\t', x, '\t', i
    listheaders.append(header[0].strip())

headers = set(listheaders)
print '\nDistinct Headers found:', len(set(listheaders)), 
print '\n', list(headers)
print '\nTotal rows:', sum([x[0] for x in rowcounts]) - len(rowcounts)
print 'Total files:', len(rowcounts)

Rows:		Filename:		Year:
13984 	ads demo1.csv 	1
13888 	ads demo2.csv 	2
6566 	ads demo3.csv 	3
5908 	ads demo4.csv 	4
5744 	ads demo5.csv 	5
5567 	ads demo6.CSV 	6
5042 	ads demo7.csv 	7
4862 	ads demo8.CSV 	8
4262 	ads demos10.CSV 	9
4172 	ads demos11.CSV 	10
4608 	ads demos9.CSV 	11

Distinct Headers found: 2
['Panelist ID,Panelist Type,Combined Pre-Tax Income of HH,Family Size,Household Head Race,Type of Residential Possession,COUNTY,Age Group Applied to Household Head,Education Level Reached by Household Head,Occupation Code of Household Head,Age Group Applied to Male HH,Education Level Reached by Male HH,Occupation Code of Male HH,Male Working Hour Code,MALE_SMOKE,Age Group Applied to Female HH,Education Level Reached by Female HH,Occupation Code of Female HH,Female Working Hour Code,FEM_SMOKE,Number of Dogs,Number of Cats,Children Group Code,Marital Status,HH_LANG,ALL_TVS,CABL_TVS,Hispanic Flag,HISP_CAT,RACE2,RACE3,MICROWAVE,device_type,ZIPCODE,FIPSCODE,market based upon zipcode,IRI Geography Number,EXT_FACT', 'Panelist ID,Panelist Type,Combined Pre-Tax Income of HH,Family Size,HH_RACE,Type of Residential Possession,COUNTY,HH_AGE,HH_EDU,HH_OCC,Age Group Applied to Male HH,Education Level Reached by Male HH,Occupation Code of Male HH,Male Working Hour Code,MALE_SMOKE,Age Group Applied to Female HH,Education Level Reached by Female HH,Occupation Code of Female HH,Female Working Hour Code,FEM_SMOKE,Number of Dogs,Number of Cats,Children Group Code,Marital Status,Language,Number of TVs Used by HH,Number of TVs Hooked to Cable,Year,HISP_FLAG,HISP_CAT,HH Head Race (RACE2),HH Head Race (RACE3),Microwave Owned by HH,ZIPCODE,FIPSCODE,market based upon zipcode,IRI Geography Number,EXT_FACT']

Total rows: 74592
Total files: 11

### Analyze differences in column alignment and names

In [112]:
aligned  = zip(list(set(listheaders))[0].split(","), list(set(listheaders))[1].split(","))
diffs = [x for x in aligned if x[0]!=x[1]]
print len(diffs)
diffs

13

[('Household Head Race', 'HH_RACE'),
 ('Age Group Applied to Household Head', 'HH_AGE'),
 ('Education Level Reached by Household Head', 'HH_EDU'),
 ('Occupation Code of Household Head', 'HH_OCC'),
 ('HH_LANG', 'Language'),
 ('ALL_TVS', 'Number of TVs Used by HH'),
 ('CABL_TVS', 'Number of TVs Hooked to Cable'),
 ('Hispanic Flag', 'Year'),
 ('HISP_CAT', 'HISP_FLAG'),
 ('RACE2', 'HISP_CAT'),
 ('RACE3', 'HH Head Race (RACE2)'),
 ('MICROWAVE', 'HH Head Race (RACE3)'),
 ('device_type', 'Microwave Owned by HH')]

## Load files into Dataframes

In [71]:
# remove columns that should not be used according to documentation
not_used = ['device_type', 'FEM_SMOKE', 'HH Head Race (RACE2)', 'RACE2', 'HISP_CAT', 'HISP_FLAG', 'Hispanic Flag', 'MALE_SMOKE', 
             'Microwave Owned by HH', 'MICROWAVE', 'Panelist Type', 'market based upon zipcode']

# rename columns which have slightly different names accross years
rename_cols = { 'Household Head Race':'HH_RACE',
              'Age Group Applied to Household Head':'HH_AGE',
              'Education Level Reached by Household Head':'HH_EDU',
              'Occupation Code of Household Head':'HH_OCC',
              'HH_LANG':'Language',
              'Number of TVs Used by HH':'ALL_TVS',
              'Number of TVs Hooked to Cable':'CABL_TVS',
              'HH Head Race (RACE3)':'RACE3'}

# Create list of dataframes
dfs = [(filename,pd.read_csv(path[1:-1] + filename, sep=',',index_col=False, na_values=['.'])) for filename in files]

# add additional useful metadata
for i in xrange(len(dfs)):
    dfs[i][1]['yearID']=int(dfs[i][0][8:-4].replace('s',''))
    dfs[i][1]['filename']=dfs[i][0]
    dfs[i][1]['Year']=int(dfs[i][0][8:-4].replace('s','')) + 2000
    # drop unused columns
    dfs[i][1].drop(not_used, axis='columns',errors='ignore', inplace=True)
    # rename columns
    dfs[i][1].rename(columns=rename_cols, inplace=True)

Validate all dataframes now have same headers

In [72]:
# hash column headers to find differences
print 'Distinct headers found:',len(set([hash(frozenset(df.columns.tolist())) for f, df in dfs]))

Distinct headers found: 1

Concatenate all dataframes

In [73]:
demos = pd.concat([df for f, df in dfs])

In [74]:
demos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74592 entries, 0 to 4606
Data columns (total 32 columns):
ALL_TVS                                 57426 non-null float64
Age Group Applied to Female HH          74592 non-null int64
Age Group Applied to Male HH            74592 non-null int64
CABL_TVS                                54537 non-null float64
COUNTY                                  46722 non-null object
Children Group Code                     74592 non-null int64
Combined Pre-Tax Income of HH           74581 non-null float64
EXT_FACT                                46722 non-null float64
Education Level Reached by Female HH    74592 non-null int64
Education Level Reached by Male HH      74592 non-null int64
FIPSCODE                                46722 non-null float64
Family Size                             74592 non-null int64
Female Working Hour Code                74592 non-null int64
HH_AGE                                  46627 non-null float64
HH_EDU                                  46629 non-null float64
HH_OCC                                  46625 non-null float64
HH_RACE                                 74158 non-null float64
IRI Geography Number                    46722 non-null float64
Language                                21211 non-null float64
Male Working Hour Code                  74592 non-null int64
Marital Status                          74592 non-null int64
Number of Cats                          74592 non-null int64
Number of Dogs                          74592 non-null int64
Occupation Code of Female HH            74592 non-null int64
Occupation Code of Male HH              74592 non-null int64
Panelist ID                             74592 non-null int64
RACE3                                   46722 non-null float64
Type of Residential Possession          74592 non-null int64
Year                                    74592 non-null int64
ZIPCODE                                 46722 non-null float64
filename                                74592 non-null object
yearID                                  74592 non-null int64
dtypes: float64(13), int64(17), object(2)
memory usage: 18.8+ MB

In [ ]:
# persist to file
demos.to_hdf('../Final/yogurt.h5', 'demos', complib='blosc', complevel=9)
# test file
pd.read_hdf('../Final/yogurt.h5', 'demos').info()