In [17]:
import h5py as h5
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
%matplotlib inline

In [18]:
#Manually changed file names to have pattern

path = '~/Desktop/IRI Yogurt/demos trips external 1_11 may13/'

for i in range(1,12):
    meta_df = pd.read_csv(path+'ads demo'+str(i)+'.csv')
    try:
        df = pd.concat([df,meta_df])
    except:
        df = meta_df

In [19]:
df.head()

,ALL_TVS,Age Group Applied to Female HH,Age Group Applied to Household Head,Age Group Applied to Male HH,CABL_TVS,COLUPC_x,COLUPC_y,COUNTY,Children Group Code,Combined Pre-Tax Income of HH,...,UNITS_x,UNITS_y,WEEK_x,WEEK_y,Year,ZIPCODE,device_type,file_x,file_y,market based upon zipcode
0,NaN,6,NaN,6,NaN,NaN,NaN,NaN,8,3,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,NaN,5,NaN,7,NaN,NaN,NaN,NaN,3,5,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,NaN,6,NaN,6,NaN,NaN,NaN,NaN,8,8,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
3,NaN,6,NaN,6,NaN,NaN,NaN,NaN,8,7,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,NaN,6,NaN,6,NaN,NaN,NaN,NaN,8,10,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [20]:
df.columns

Index([u'ALL_TVS', u'Age Group Applied to Female HH',
       u'Age Group Applied to Household Head', u'Age Group Applied to Male HH',
       u'CABL_TVS', u'COLUPC_x', u'COLUPC_y', u'COUNTY',
       u'Children Group Code', u'Combined Pre-Tax Income of HH', u'DOLLARS_x',
       u'DOLLARS_y', u'EXT_FACT', u'Education Level Reached by Female HH',
       u'Education Level Reached by Household Head',
       u'Education Level Reached by Male HH', u'FEM_SMOKE', u'FIPSCODE',
       u'Family Size', u'Female Working Hour Code', u'HH Head Race (RACE2)',
       u'HH Head Race (RACE3)', u'HH_AGE', u'HH_EDU', u'HH_LANG', u'HH_OCC',
       u'HH_RACE', u'HISP_CAT', u'HISP_FLAG', u'Hispanic Flag',
       u'Household Head Race', u'IRI Geography Number', u'IRI_KEY_x',
       u'IRI_KEY_y', u'Language', u'MALE_SMOKE', u'MICROWAVE', u'MINUTE_x',
       u'MINUTE_y', u'Male Working Hour Code', u'Marital Status',
       u'Microwave Owned by HH', u'Number of Cats', u'Number of Dogs',
       u'Number of TVs Hooked to Cable', u'Number of TVs Used by HH',
       u'OUTLET_x', u'OUTLET_y', u'Occupation Code of Female HH',
       u'Occupation Code of Household Head', u'Occupation Code of Male HH',
       u'PANID_x', u'PANID_y', u'Panelist ID', u'Panelist IDl',
       u'Panelist Type', u'RACE2', u'RACE3', u'Type of Residential Possession',
       u'UNITS_x', u'UNITS_y', u'WEEK_x', u'WEEK_y', u'Year', u'ZIPCODE',
       u'device_type', u'file_x', u'file_y', u'market based upon zipcode'],
      dtype='object')

In [21]:
df['IRI Geography Number'].unique()

array([ nan,   1.,   3.])

In [22]:
panel_df = pd.read_hdf('/home/sadat/Documents/DSE/Data/yogurt.h5', key='panel')
panel_df['Panelist ID']=panel_df['PANID']
panel_df.head()

,COLUPC,DOLLARS,IRI_KEY,MINUTE,OUTLET,PANID,UNITS,WEEK,file,Panelist ID
0,17047000300,0.99,1097117,5068.0,DK,3138826,1.0,1514,yogurt_PANEL_DK_1479_1530.DAT,3138826
1,17047000302,0.89,1097117,2224.0,DK,3138826,1.0,1489,yogurt_PANEL_DK_1479_1530.DAT,3138826
2,17047000650,0.89,1097117,6551.0,DK,3138826,1.0,1488,yogurt_PANEL_DK_1479_1530.DAT,3138826
3,17047000650,2.97,1097117,6177.0,DK,3182048,3.0,1526,yogurt_PANEL_DK_1479_1530.DAT,3182048
4,17047001372,1.49,1097117,973.0,DK,3184911,1.0,1495,yogurt_PANEL_DK_1479_1530.DAT,3184911

In [ ]:
df = df.join(panel_df, on='Panelist ID', lsuffix='l',how='inner')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.ix[1]